/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-purple: #e3d0ff;
  --color-light2-purple: #f2eef9;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 2.2rem;
  --font-small-large: 1.8rem;
  --font-medium: 1.6rem;
  --font-regular: 1.2rem;
  --font-small: 16px;
  --font-micro: 1rem;
  /* padding */
  --padding-basic: 5rem 10rem;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
h1,
p {
  margin: 0;
}
ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.phone {
  width: 10rem;
  height: 20rem;
}

/* 
intro part
 */

.intro {
  background: rgb(213, 185, 255);
  background: linear-gradient(
    315deg,
    rgba(213, 185, 255, 1) 0%,
    rgba(135, 171, 254, 1) 100%
  );

  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 7rem;
  flex-shrink: 0;
  flex-wrap: nowrap;
}

.intro__left {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.intro__left-title {
  font-size: var(--font-large);
  color: var(--color-light-white);
  margin-bottom: 1rem;
}

.intro__left-subTitle {
  font-size: var(--font-micro);
  color: var(--color-light-purple);
  margin-bottom: 2rem;
}
.intro__left-QRcode {
  width: 5rem;
  background-color: transparent;
}

.intro__right {
  transform: translateY(10%);
  transform: translateX(-8%);
  white-space: nowrap;
}

.intro__right-phone1 {
  transform: translateY(25%);
}

.intro__right-phone2 {
}

.intro__right-phone3 {
}

/* description */

.discription {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr 1fr;
  grid-template-areas:
    'a a'
    'b c';

  padding: var(--padding-basic);
  padding-top: 0;
}

.bold {
  font-weight: 900;
  opacity: 1;
}
.discription__title {
  grid-area: a;
  margin: auto;
  font-size: var(--font-small-large);
}

.discription__left {
  grid-area: b;
  padding: 0 0.3rem;
}

.discription__left-subTitle {
  font-size: var(--font-medium);
  padding: 1rem 0;
}

.discription__left-span {
  opacity: 0.6;
  font-size: var(--font-regular);
}

.discription__right {
  grid-area: c;
}

/* map part */
.map {
  background-color: var(--color-light2-purple);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-template-areas:
    'a b'
    'a c'
    'd c';
  padding: var(--padding-basic);
}

.map-homeImg {
  grid-area: a;
  width: 50%;
}
